:root {
  --ff-primary: "Monsterat", sans-serif;
  --ff-second: "Open Sans" . sans-serif;
  --ff_raleway: "Raleway", sans-serif;
  --ff_lato: "Lato", sans-serif;
  --ff_gotham: "GothamBook", sans-serif;

  --clr-rich-black: #02111B;
  --clr-jet: #292929;
  --clr-outerspace: #4C5457;
  --clr-cadet-gray: #9FA0A8;
  --clr-french-gray: #B9C5CB;
  --clr-platinum: #E3DEE2;
  --clr-white: #FCFCFC;

  --clr-periwinkle: #BCC3F0;
  --clr-moderateblue: #6e7dde;
  --clr-charcoal: #36454F;
  --clr-antiflashwhite: #EEF1EF;

  --clr-amaranth: #A30B37;
  --clr-old_rose: #BD6B73;
  --clr-periwinkle_2: #BBB6DF;
  --clr-periwinkle_3: #C6C8EE;
  --clr-white_2: #FCFCFF;

  --clr-arc_bg: #ecf5ee;

  --clr-parchment: #F4E9CD;
  --clr-ash-gray: #9DBEBB;
  --clr-cambridge-blue: #77ACA2;
  --clr-teal: #468189;
  --clr-rich_black_2: #031926;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #66a3ff;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

.bottom-fill {
  background: var(--clr-white_2);
}

body {
  background: var(--clr-white_2);
  color: var(--clr-arc_bg);
  font-family: "GothamBook", sans-serif;
  font-size: var(--fs-body);
  line-height: 1.7;
}

.main-text{
  font-family: 'Inter', sans-serif;
  font-weight: var(--fw-reg);
  color: var(--clr-teal);
  background: var(--clr-white_2);
}

.sub-text {
  font-family: 'Inter', sans-serif;
  font-weight: var(--fw-bold);
  color: var(--clr-rich_black_2);
  background: var(--clr-white_2);
}

.hlink {
  font-family: 'Inter', sans-serif;
  color: var(--clr-teal);
  text-decoration: underline;
  display: inline-block;
}

.hlink:hover {
  color: var(--clr-parchment);
}

.footer-a {
  padding: 10px;
  transition: all 300ms ease-in-out;
}

.footer-a:hover {
  color: var(--clr-parchment);
}

.footer-span {
  padding: 16px 16px;
  background-position: bottom;
  background-image: linear-gradient(to right, var(--clr-parchment), var(--clr-parchment));
  background-size: 0% 0px;
  background-repeat: no-repeat;
  transition: all 500ms ease-out;
  width: 3rem;
  height: 3rem;
}

.footer-span:hover {
  background-size: 70% 3px;
}

@media (max-width: 600px) {
  .li-a {
    margin-top: 10%;
    padding-left: 3%;
    padding-right: 3%;
  }
}

.duck-icon {
  background: url("../public/ducky.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  background-color: white;
  color:white;
  width: 48px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  fill: black;
}